### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/public/storage
/public/images
/public/upload
/public/uploads
nbproject
storage/*.key
.env
Homestead.yaml
Homestead.json
/node_modules
/vendor
/storage
.env
composer.lock
/.vagrant
.phpunit.result.cache
.idea/laravel-plugin.xml
corbeten-api.txt
public/.DS_Store
.DS_Store
.idea
.idea/workspace.xml
# End of https://www.gitignore.io/api/laravel
